{% extends 'auth/base.html.twig' %}

{% block title %}Create account{% endblock %}

{% block authErrors %}
    {{ form_errors(registrationForm) }}
{% endblock %}

{% block authBody %}
    {{ form_start(registrationForm) }}
        <div class="d-flex flex-column gap-4">
            <div class="d-flex flex-column gap-2">
                {{ form_widget(registrationForm.email, {
                    attr: {
                        placeholder: 'Email',
                        class: 'form-control',
                        autocomplete: 'username'
                    }
                }) }}
                {{ form_widget(registrationForm.plainPassword, {
                    attr: {
                        placeholder: 'Password',
                        class: 'form-control',
                        autocomplete: 'password'
                    }
                }) }}
                <p class="p-0 m-0">Already signed up? <a href="{{ path('app_login') }}">Login</a></p>
            </div>

            <div class="d-flex flex-column">
                <button type="submit" class="btn btn-lg btn-primary">Sign up</button>
            </div>
        </div>
    {{ form_end(registrationForm) }}
{% endblock %}
